.backimg {
  background: url(./img/Background-img-mobile.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  padding-bottom: 11vh;
}

.backimg-about {
  background: url(./img/about-background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

body {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4vh;
}

header {
  margin-bottom: 11vh;
}

.xNav {
  font-size: 12vw;
  text-decoration: none;
  color: rgb(19, 18, 17);
}

.welcome {
  display: grid;
  grid-template-rows: 2;
}

h1 {
  font-family: Dosis, sans-serif;
  color: rgb(223, 36, 15);
  font-size: 12vw;
  margin-top: 1px;
}

h2 {
  font-family: Dosis, sans-serif;
  color: rgb(223, 36, 15);
  font-size: 6vw;
  margin-bottom: 1px;
}

.title-about {
  display: flex;
  flex-direction: column;
}

.title-about h1 {
  font-family: Dosis, sans-serif;
  color: rgb(223, 36, 15);
  font-size: 12vw;
  margin-top: 1px;
  text-align: center;
}

.title-about h2 {
  font-family: Dosis, sans-serif;
  color: rgb(223, 36, 15);
  font-size: 6vw;
  margin-bottom: 1px;
  text-align: center;
}

.paragraph p {
  font-family: Dosis, sans-serif;
  color: darkslategrey;
  font-size: 3vw;
  border: gray 1px solid;
  padding: 5vw;
  line-height: 5vh;
}

.paragraph-two {
  position: relative;
  padding-left: 4vw;
  margin-bottom: 11vh;
}

.paragraph-two h3 {
  font-size: 5vw;
  color: rgb(14, 13, 13, 0.85);
  margin-top: 1px;
}

.paragraph-two h2 {
  position: absolute;
  top: 3vh;
  font-size: 3vw;
  color: darkslategrey;
}

.program {
  background: url(./img/background-program.jpg) no-repeat center center fixed;
  background-size: cover;
}

.title-program {
  display: flex;
  justify-content: center;
}

h5 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3vh;
  position: relative;
  margin-bottom: 2px;
  padding-top: 2vh;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
  color: red;
  width: 8vw;
}

h4 {
  font-size: 3vh;
  color: rgb(36, 35, 35);
  text-align: center;
  margin-bottom: 1px;
}

.about-one {
  margin-top: 1vh;
}

.about-two {
  margin-top: 15vh;
  border-bottom: rgba(221, 11, 11, 0.65) solid 1px;
}

.about-img {
  width: 85vw;
  border: steelblue 1px solid;
  border-radius: 5px;
  height: 25vh;
}

.about-img-logo {
  width: 53vw;
  border: red 1px solid;
  border-radius: 2px;
  height: 25vh;
  margin-left: 20vw;
  margin-bottom: 5vh;
}

.about-four {
  height: 25vh;
  background: rgb(29, 28, 28);
  margin-left: -5vw;
  margin-right: -5vw;
}

.mobile-program {
  display: flex;
  height: 15vh;
  border: rgb(46, 40, 36) solid 1px;
  margin-right: 5vw;
  background-color: rgb(46, 46, 46);
  margin-bottom: 2vh;
  border-radius: 5px;
}

.mobile-ul {
  list-style-type: none;
}

h6 {
  color: red;
  font-size: 3.5vw;
  display: flex;
  margin-top: 5vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.paragraph-program {
  color: antiquewhite;
  font-size: 2vw;
  margin-left: 6vw;
}

.icon-program {
  max-width: 100%;
  max-height: 100%;
  padding: 3vw;
}

.button-program {
  display: flex;
  justify-content: center;
}

.logo-paragraph {
  font-size: 3vw;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.title-models {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.img-models {
  width: 22vw;
  border: steelblue 1px solid;
  border-radius: 5px;
  height: 15vh;
  margin: 3vh;
}

.models-list {
  list-style-type: none;
  display: contents;
}

.container-img {
  display: flex;
  flex-direction: row;
  margin-top: 6vh;
}

.container-text {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 3vh;
  margin-left: 3vw;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: bold;
}

.centered1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}

.button-more {
  display: flex;
  justify-content: center;
}

.btn-btn {
  margin-bottom: 5vh;
  color: white;
  background-color: red;
  border-color: red;
  width: 50vw;
  height: 10vh;
  font-size: 3vw;
  cursor: pointer;
}

.name-model {
  font-size: 3.2vw;
  font-weight: 900;
  margin-bottom: 1px;
}

.data-model {
  color: red;
  font-size: 2.5vw;
  margin-top: 1px;
}

.info-models {
  margin-top: 3vh;
}

.paragraph-model {
  font-size: 2.2vw;
}

.paragraph-about {
  background-color: antiquewhite;
  border: burlywood solid 1px;
  font-size: 2.5vw;
  line-height: 4vh;
  margin-left: 5vh;
  margin-right: 5vh;
  font-weight: normal;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: center;
}

.paragraph-contact {
  font-size: 2.5vw;
  line-height: 4vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: center;
}

.email {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2.5vw;
  margin-bottom: 5vh;
}

.button-more button {
  background-color: white;
  border: red 1px solid;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 8vh;
  width: 90vw;
  font-size: 2.6vw;
}

.logos {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-logos {
  height: 4vh;
  width: 28vw;
  padding: 1vw;
}

footer {
  display: flex;
}

.paragraph-footer {
  margin-top: 5vh;
}

.image-footer img {
  margin-top: 2vh;
}

.link-program {
  display: none;
}

.desktop-logo {
  display: none;
}

nav {
  display: none;
}

.topbar {
  display: none;
}
@media only screen and (min-width: 768px) {
  .xNav {
    display: none;
  }

  .backimg {
    height: 215vh;
  }

  nav {
    display: flex;
    border-bottom: red solid 1px;
    height: 13vh;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 20vw;
    margin-top: -7vh;
  }

  nav ul li {
    margin-top: 11vh;
    margin-right: 6vw;
    margin-left: 6vw;
    font-family: sans-serif;
    font-size: 2vw;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }

  header {
    background-color: white;
  }

  .image-nav img {
    margin-top: 2vh;
  }

  .paragraph p {
    margin-bottom: -5vh;
    margin-top: 1px;
    line-height: 10vh;
    font-size: 2vw;
    padding-right: 33vw;
    border: none;
  }

  .paragraph-two {
    margin-bottom: 27vh;
  }

  .paragraph-two h3 {
    font-size: 3vw;
  }

  .title-program h5 {
    font-size: 3vw;
  }

  .mobile-ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: max-content;
    margin-top: 15vh;
  }

  .paragraph-program {
    padding-right: 2vw;
    margin-left: 3vw;
    margin-top: 1px;
    font-size: 1vw;
  }

  .mobile-program {
    display: grid;
    margin-right: 1vw;
    height: 50vh;
    width: 16vw;
  }

  .mobile-program h6 {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  .button-program {
    display: none;
  }

  .link-program {
    display: flex;
    justify-content: center;
  }

  .link-program a {
    color: white;
    font-size: 2vw;
    margin-bottom: 6vh;
    margin-top: 10vh;
  }

  .icon-program {
    margin-bottom: -5vh;
  }

  .img-models {
    height: 25vh;
  }

  .models-list {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .name-model {
    font-size: 4vh;
    margin-top: 1px;
  }

  .data-model {
    font-size: 2.5vh;
  }

  .paragraph-model {
    font-size: 2.2vh;
  }

  .button-more {
    display: none;
  }

  .desktop-logo {
    display: block;
    height: 25vh;
    background: rgb(29, 28, 28);
    margin-left: -5vw;
    margin-right: -5vw;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }

  .img-logos {
    margin-left: -5vw;
  }

  .icon-program {
    max-width: 40%;
    max-height: 45%;
    margin-left: 2vw;
  }

  .topbar {
    display: grid;
    border: black solid 1px;
    background-color: black;
    grid-template-columns: repeat(5, 7vw);
    height: 5vh;
    width: 120%;
    margin-left: -5vw;
    margin-top: -4vh;
  }

  .topbar ul {
    display: flex;
    justify-content: space-between;
    padding-left: 67vw;
  }

  .topbar ul li {
    list-style-type: none;
    color: white;
    margin-left: 2vw;
  }

  .topbar-icon {
    max-width: 3vw;
    margin-left: 1.5vw;
    margin-top: -1vh;
  }
}
